<div class="card my-3">
    <img id="card-image" src="{{camp.campgrounds.imageId}}" alt="">
    <div class="card-body">
        <h3 class="float-right">$12.15/night</h3>
        <h5 class="card-title"></h5>
        <p>Submitted by: <a href="">Olivia Parker</a></p>
        <p>16 days ago</p>
        <p class="card-text">Royal Campground</p>
        <div class="d-flex">
            <a class="btn btn-warning mr-2" href="#">Edit</a>
            <button class="btn btn-danger">Delete</button>
            <a class="btn btn-success ml-auto" href="#">Add New Comment</a>
        </div>
    </div>
</div>