<div class="profile mt-5">
    <h2>{{user.firstname}}'s Campgrounds</h2>
    <div class="row text-center">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor='let camp of campgrounds'>
            <div class="card mt-4">
                <img src="{{camp.imageURL}}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>                                                        
                    <a class="btn btn-primary" routerLink="/campgrounds/{{camp.slug}}">More Info</a>
                </div>
            </div>
        </div>
    </div>
</div>