<div class="profile mt-5">
    <div class="row">
        <div class="col-lg-6 mb-5">
            <h2>Olivia Parker</h2>
            <p class="mt-5">I have worked with the public for over 30 years... I enjoy people very much.
                .. I have taught craft classes, acted as a departments 'go to'
                person for challenging calls and as the primary mentor for new employees while employed at Stone Ridge
                Resort.</p>
            <h2 class="general-info mt-5">General Info</h2>
            <ul>
                <li><strong>First Name </strong>Olivia</li>
                <li><strong>Last Name </strong>Parker</li>
                <li><strong>E-mail </strong>olivia@example.com</li>
                <li class="mt-5"><a class="btn btn-lg btn-primary" href="#">Follow Olivia</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <img class="rounded img-fluid"
                src="https://res.cloudinary.com/alkhz/image/upload/v1591730065/yelp-camp/users/nekakr4sur40mngdjn6v.jpg" alt="">
        </div>
    </div>
</div>